/* App.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #363c44;
}

.App {
    /* text-align: center; */
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c232d;
    color: #00afb6;
    padding: 9px;
}

.App-header h1,
.App-header p {
    margin: 0;
}

.App-header img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.App-header section {
    padding: 0px;
    font-size: medium;
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    text-decoration: underline;
}

section {
    /* padding: 20px;  */
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px; /* Adjust margin for smaller screens */
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust margin for smaller screens */
}

button {
    color: #00afb6;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
    .App-header {
        flex-direction: column;
        align-items: center;
        background: rgb(2,0,36);
        background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(28,35,45,1) 35%, rgba(0,212,255,1) 100%);
    }

    .App-header img {
        margin-bottom: 10px;
        /* display: none; */
        display: flex;
        align-items: center;
    }
    
    .App-header section {
        color: blanchedalmond;
        margin-left: 0;
        margin-top: 10px;
        
    }
    .hero-header p{
        display: flex;
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }
    
    button {
        color: blanchedalmond;
        margin-bottom: 10px;
    }
}
